{% from "./map.jinja" import map %}
<html>
<head>
  <link href="minimal-table.css" rel="stylesheet" type="text/css">
</head>

<body>
{% set uc_offset = map.common_bias * (ancestries.common | length) %}
{% set r_offset = map.uncommon_bias * (ancestries.uncommon | length) + uc_offset %}

<table>
<tr>
<th>d100</th>
</tr>
{% for ancestry in ancestries.common %}
<tr>
<td>{{ (loop.index - 1) * map.common_bias + 1}}-{{ loop.index * map.common_bias }}</td> <td>{{ ancestry.name }}</td> <td>{{ ancestry.rarity }}</td>
</tr>
{% endfor %}

{% for ancestry in ancestries.uncommon %}
<tr>
<td>{{ uc_offset + (loop.index - 1) * map.uncommon_bias + 1}}-{{ uc_offset + loop.index * map.uncommon_bias }}</td> <td>{{ ancestry.name }}</td> <td>{{ ancestry.rarity }}</td>
</tr>
{% endfor %}

{% for ancestry in ancestries.rare %}
<tr>
<td>{{ r_offset + loop.index }}</td> <td>{{ ancestry.name }}</td> <td>{{ ancestry.rarity }}</td>
</tr>
{% endfor %}

</table>


<table>
<tr>
<th>d100</th>
</tr>
{% for background in backgrounds.common %}
<tr>
<td>{{ loop.index * 3 - 2 }}-{{ loop.index * 3 }}</td> <td>{{ background.name }}</td> <td>{{ background.rarity }}</td>
</tr>
{% endfor %}

{#
{% for background in backgrounds.uncommon %}
<tr>
<td>{{ uc_offset + loop.index * 2 - 1 }}-{{ uc_offset + loop.index * 2 }}</td> <td>{{ background.name }}</td> <td>{{ background.rarity }}</td>
</tr>
{% endfor %}

{% for background in backgrounds.rare %}
<tr>
<td>{{ r_offset + loop.index }}</td> <td>{{ background.name }}</td> <td>{{ background.rarity }}</td>
</tr>
{% endfor %}
#}

</table>

</body>
</html>
